<div class="buttons_menu">
  <button
    type="button"
    class="btn btn-secondary material-icons"
    (click)="onEditCard()"
  >
    edit
  </button>
  <button
    type="button"
    class="btn btn-secondary material-icons"
    (click)="onDeleteCard()"
  >
    delete
  </button>
  <button
    type="button"
    class="btn btn-secondary material-icons"
    (click)="goBefore()"
  >
    navigate_before
  </button>
  <button
    type="button"
    class="btn btn-secondary material-icons"
    (click)="goNext()"
  >
    navigate_next
  </button>
</div>
