<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<div class="board">
  <div class="board-bar">
    <p class="board-name">{{ board.name }}</p>
  </div>

  <div class="board-wrapper">
    <div class="board-columns" cdkDropListGroup>
      <div class="board-column" *ngFor="let column of board.columns">
        <!-- //LISTA -->
        <div class="column-title">{{ column.name }}</div>

        <div
          #todoList="cdkDropList"
          cdkDropList
          [cdkDropListData]="column.cards"
          class="column"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="card" *ngFor="let card of column.cards" cdkDrag>
            <div class="card_title">
              {{ card.titulo }}
            </div>
            <div class="card_content">
              {{ card.conteudo }}
            </div>

            <div class="buttons_menu">
              <button type="button" class="btn btn-secondary material-icons">
                edit
              </button>
              <button type="button" class="btn btn-secondary material-icons">
                delete
              </button>
              <button type="button" class="btn btn-secondary material-icons">
                navigate_before
              </button>
              <button type="button" class="btn btn-secondary material-icons">
                navigate_next
              </button>
            </div>
          </div>

          <button type="button" class="btn btn-success material-icons">
            add_circle
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
