<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<div class="board">
  <div class="board-bar">
    <p class="board-name">{{ board.name }}</p>
  </div>

  <div class="board-wrapper">
    <div class="board-columns" cdkDropListGroup>
      <div class="board-column" *ngFor="let array of arrays">
        <div class="column-title" id="{{ array.name }}">
          {{ array.name }}
        </div>

        <div
          #todoList="cdkDropList"
          cdkDropList
          [cdkDropListData]="cards"
          class="column"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="card"
            *ngFor="let card of array.cards"
            id="{{ card.id }}"
            cdkDrag
          >
            <!-- <div *ngIf="bool">
                <span id= "{{ card.id }}" [(ngModel)]=“someInput”>
            </div> -->
            <div class="card_title">
              {{ card.titulo }}
            </div>
            <div class="card_content">
              {{ card.conteudo }}
            </div>

            <div class="buttons_menu">
              <button
                (click)="OnEditCard()"
                type="button"
                class="btn btn-secondary material-icons"
              >
                edit
              </button>

              <div class="card" *ngIf="showForm">
                <form [formGroup]="cardForm" (ngSubmit)="editCard()">
                  <div class="card">
                    <div class="card_title">
                      <label for="Titulo">{{ card.titulo }}</label> <br />
                      <input type="text" id="titulo" formControlName="titulo" />
                    </div>

                    <div class="card_content">
                      <label for="Conteudo">{{ card.conteudo }}</label> <br />
                      <input
                        type="text"
                        id="conteudo"
                        formControlName="conteudo"
                      />
                    </div>
                  </div>
                </form>
              </div>

              <button
                (click)="deleteCard()"
                type="button"
                class="btn btn-secondary material-icons"
              >
                delete
              </button>
              <button type="button" class="btn btn-secondary material-icons">
                navigate_before
              </button>
              <button type="button" class="btn btn-secondary material-icons">
                navigate_next
              </button>
            </div>
          </div>
          <app-modal-create-update>
            <span>{{ array.name }}</span>
          </app-modal-create-update>
        </div>
      </div>
    </div>
  </div>
</div>
