@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Nunito:wght@400;700&display=swap");

.navbar-brand {
  font-size: 28px;
  color: gray;

  font-weight: 800;
  font-family: "lato", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}
