body{
    display: flex;
    flex-direction: column;
}

.placing-the-bottom{
    height: 88px;
}

.navbar{
    display: flex;
    background: linear-gradient(to top left, #28b487, #7dd56f);
    
    position: fixed !important;
    margin: auto;
}
.navbar-nav .nav-item{
    
    color:#00A5CF !important;
}
.navbar-brand{
    font-family: 'Adamina', serif !important;
    color:#004E64 !important;
    font-weight: Regular 400;
    font-size: 48px;
    /* color: #C0000D !important; */
    line-height: 1.3;
}

.carousel-inner{
/* height: 32rem; */


}

 .d-block {
    position: relative;
    
    z-index: -1;
    
}


.img-context{
    position: absolute;
    bottom: 10px;
}



.navbar-nav{
    margin:auto;
    justify-content: center;
}

.navbar-nav li{
    display: flex;
    margin-right:auto;
    justify-content: center;
}


#nav-icons li{
    display:flex;
    justify-content: flex-end !important;
    
}

#nav-icons ul{
    display: flex;
    justify-content: flex-end !important;
    margin: auto;
}

.general-container{
    margin: 50px;
    margin-bottom: 0px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.text-container{
    margin: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width:500px;
    margin:auto;
    justify-content: center;
}

.row{
    margin: 50px;
    width:fit-content !important;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.col-lg-4{
    width:fit-content !important;
    justify-content: center;
    text-align: center;
}

.col-lg-4 img{
    text-align: center;
    margin-left: auto;
    width:200px;
    height:200px;
}

/* .background{
    position: static;
    z-index: -1;
    top:10px;
    height: 32rem;
    background-image: url("../Img/back.jpg");
} */

.feutered-product .row{
    background: linear-gradient(to top left, #25A18E, #9FFFCB) !important;
    padding-top: 10px;
    margin-top:0px;
    margin-bottom: 0px;
}

.feutered-product .img{
    background-color: aliceblue;
    margin: 0%;
}

.customer-opinion{
    border: #004E64;
    border-width: 10px;
    background-color: aliceblue;
    margin: 0%;
}

footer{
    height: 32rem;
    background-color: #212934;
}